<div class="workflow-wrapper">
  <table class="table table-hover table-striped table-responsive mrtp-15 mgtp-15 my_table sms-template-table dynamic-table table-head">
    <thead>
      <tr>
        <th class="table-column" *ngFor="let header of tableHeader;let i=index">
          {{header}}
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let data of tableData; let i=index;">
      <tr>
        <td>
          {{data.dateAndTime}}
        </td>
        <td>
          {{data.activityType}}
        </td>
        <td>
          {{data.remarkAsAdmin}}
        </td>
        <td>
          {{data.requestStatus}}
        </td>
        <td>
          {{data.requestedBy}}
        </td>
        <td>
          <a (click)="viewDetails(data)" class="link">View Details</a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination p-style">
    <a href="#" [class.disabled]="pageNo===1" class="angle p-6" 
        (click)="onPageChange(pageNo-1)" id='previous-page'>
      <i class="fa fa-angle-left" style="font-size:24px"></i>
    </a>
    <a class="p-6 pagination__data" *ngFor="let page of _pages"
        (click)="onPageChange(page)" id="page_{{page}}">
        <i>{{page}}</i></a>
    <a href="#" [class.disabled]="pageNo===totalPages" class="angle"
        (click)="onPageChange(pageNo+1)"
        id='next-page'>
      <i class="fa fa-angle-right" style="font-size:24px"></i>
    </a>
</div>
  </div>

<router-outlet></router-outlet>
